<div class="navbar-inner">
  <div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <a class="brand" href="{{ root_url }}/">Colin Scott</a>

    <div class="nav-collapse collapse">
      <ul class="nav">
        <li><a href="http://www.eecs.berkeley.edu/~rcs/index.html">Home</a></li>
        <li><a href="http://www.eecs.berkeley.edu/~rcs/about.html">About</a></li>
        <li><a href="http://www.eecs.berkeley.edu/~rcs/contact.html">Contact</a></li>
        <li><a href="http://www.eecs.berkeley.edu/~rcs/publications.html">Publications</a></li>
        <li><a href="https://colin-scott.github.com/">Blog</a></li>
        <li><a href="http://www.eecs.berkeley.edu/~rcs/life.html">Life</a></li>
        <li class="active"><a href="http://colin-scott.github.com/music">Music</a></li>
      </ul>
    </div>
  </div>
</div>
