<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{{ root_url }}/">colin scott</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="mynavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://www.eecs.berkeley.edu/~rcs/index.html">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.eecs.berkeley.edu/~rcs/about.html">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.eecs.berkeley.edu/~rcs/contact.html">contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.eecs.berkeley.edu/~rcs/publications.html">publications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://colin-scott.github.com/">blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.eecs.berkeley.edu/~rcs/life.html">life</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://colin-scott.github.com/music/">music</a>
        </li>
      </ul>
    </div> <!-- /navbar-collapse -->
  </div> <!-- /container -->
</nav>
